.appHead{
    height: 10vh;
    // background: rgba(0,0,0,0.5);
    .logoHead{
        height: 100%;
        .homeLogo{
            height: 100%;
        }
    }
    .mainMenu{
        height: 100%;
        .menuIcon{
            height: 100%;
        }
    }
}