.loadingContainer{
    height: 200px;
    width: 200px;
    border: 10px solid #F38F1C;
    border-radius: 50%;
    margin: auto;
    position: relative;
    text-align: center;
    .loadLogo{
        img{
            width: 75%;
            margin-top: 20px;
        }
    }
    .loadAvatar{
        img{
            width: 55%;
        }
    }
}