@import './pages/login/Login';
@import './pages/home/Home';
@import './pages/register/Register';
@import './containers/registration/Registration';
@import './containers/appHeader/AppHeader';
@import './components/dropdown/Dropdown';
@import './components/location/Location';
@import './partials/media';

*{
    font-family: 'Karla', sans-serif;
}
.centered{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.hidden{
    display: none;
}
.shown{
    display: initial !important;
}
input:-webkit-autofill {
    background-color: none !important;
}